# Python
.env
*.db
__pycache__/
.pytest_cache/
.venv/
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env
backend/.pytest_cache/

# SQLite local database files
backend/projects.db
backend/projects.db-journal
backend/projects.db-wal
backend/projects.db-shm

# Angular
frontend/mlops-ui/node_modules/
frontend/mlops-ui/dist/
frontend/mlops-ui/.angular/

# Visual Studio temporary files
.vs/
*.user
*.suo

# SQL Server local database files
database/*.mdf
database/*.ldf

# Test reports
coverage.xml
htmlcov/
